<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-base-gradient">
        <div class="container">
            <a href="/" class="navbar-brand text-light">Social Y</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler" aria-controls="navbar-toggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse d-lg-flex justify-content-between" id="navbar-toggler">
                <div class="navbar-nav">
                    <a class="nav-link" href="#">Home</a>
                    <a class="nav-link" href="#">Notification</a>
                </div>

                <div>
                    <form class="my-lg-0 my-2" action="#" method="get" role="search">
                        <input class="form-control" type="search" name="term" placeholder="Search"/>
                    </form>
                </div>

                <div class="navbar-nav">
                    {% if user.is_authenticated %}
                        <div class="d-flex justify-content-between align-items-center">
                            <a class="btn btn-light mx-lg-1 my-lg-0 my-2" href="/users/auth/logout">Log out</a>
                            <a class="btn btn-outline-light mx-lg-1 my-lg-0 my-2" href="#">Profile: {{ user.username }}</a>
                        </div>
                    {% else %}
                        <a class="btn btn-light mx-lg-1 my-lg-0 my-2" href="/users/auth/login">Log in</a>
                        <a class="btn btn-outline-light mx-lg-1 my-lg-0 my-2" href="/users/auth/register">Register</a>
                    {% endif %}
                </div>
            </div>

        </div>
    </nav>
</header>