{% extends "base.html" %}

{% block content %}
    <h2 class="border-bottom border-1">{{ post.author.username }}'s post</h2>

    <div class="card my-5">
        <div class="card-body">
            <p class="card-text fs-3">{{ post.post_content }}</p>
            <span class="card-text">{{ post.created_on }}</span>
        </div>
        <div class="card-footer">
            <a class="btn btn-primary">Like it</a>
            <a class="btn btn-outline-primary">Add comment</a>
        </div>
    </div>
{% endblock %}