<div class="card my-5">
    <div class="card-header">
        <h5 class="card-title">{{ post.author.username }}'s post</h5>
    </div>
    <div class="card-body">
        <p class="card-text fs-3">{{ post.post_content }}</p>
        <span class="card-text">{{ post.created_on }}</span>
    </div>
    <div class="card-footer d-flex justify-content-between">
        <div>
            <form action="/posts/{{ post.id }}/like" method="post" class="d-inline-block">
                <input type="hidden" name="redirect_url" value="/posts/list">
                {% csrf_token %}
                {% if post.id in likes %}
                    <button type="submit" class="btn btn-danger">Unlike it</button>
                {% else %}
                    <button type="submit" class="btn btn-primary">Like it</button>
                {% endif %}
            </form>


            <a class="btn btn-success" href="/posts/{{ post.id }}">Show details</a>
        </div>
        <p>Likes: {{ post.like_set.count }}</p>
    </div>
</div>