{% extends "profile_template.html" %}

{% block profile_buttons %}
    <div class="btn-group">
        <a class="btn btn-outline-primary my-3" href="/profile/user/{{ user_profile.username }}">Profile</a>
        <a class="btn btn-outline-primary my-3" href="/profile/user/posts/{{ user_profile.username }}">Posts</a>
    </div>
{% endblock %}

{% block profile_info %}
    <h3>
        There you can edit your profile
    </h3>
    <form method="post" action="/profile/edit">

        {% csrf_token %}

        <div class="mb-3">
            <label for="quoteInput">Your quote</label>
            <input type="text" class="form-control" name="quote" id="quoteInput" value="{{ user_profile.quote }}"/>
        </div>

        <div class="mb-3">
            <label for="quoteInput">Your description</label>
            <textarea type="text" class="form-control" name="description" id="quoteInput" style="height: 100px">
                {{ user_profile.user_description }}
            </textarea>
        </div>

        <button type="submit" class="btn btn-primary">Update</button>
    </form>
{% endblock %}

{% block profile_links %}

    <div class="border-bottom border-1 mt-5">
        <h3>
            Links
        </h3>
    </div>
    {% for link in user_profile.link_set.all %}
        <div class="my-3 d-flex align-items-center justify-content-between">
            <span class="d-inline-block w-25">{{ link.name }}: </span>
            <a class="btn btn-danger mx-2" href="/profile/delete-link/{{ link.id }}">Delete Link</a>
        </div>
    {% endfor %}
    <a class="btn btn-primary" href="/profile/add-link">Add link</a>
{% endblock %}