{% extends "base.html" %}

{% block content %}
    {% if is_current_user %}

    {% endif %}
    <h2 class="border-bottom border-1">
        {% if is_current_user %}
            Welcome on your profile:
        {% else %}
            Profile:
        {% endif %}

        {{ user_profile }}
    </h2>

    <div class="my-3">
        {% block profile_info %}

            <div class="card my-3">
                <div class="card-header">
                    <h5 class="card-title">{{ user_profile }}'s Quote</h5>
                </div>
                <div class="card-body">
                    <p class="card-text fw-bold fs-5 ">
                        {% if user_profile.quote != "" %}
                            {{ user_profile.quote }}
                        {% else  %}
                            There is no user quote yet
                        {% endif %}
                    </p>
                </div>
            </div>

            <div class="card my-3">
                <div class="card-header">
                    <h5 class="card-title">{{ user_profile }}'s Description</h5>
                </div>
                <div class="card-body">
                    <p class="card-text fs-6">
                        {% if user_profile.user_description != "" %}
                            {{ user_profile.user_description }}
                        {% else  %}
                            There is nothing to see in the description
                        {% endif %}
                    </p>
                </div>
            </div>


            {% if is_current_user %}
                <a class="btn btn-primary my-3" href="/profile/edit">Edit Profile</a>
            {% endif %}
        {% endblock %}
        <div class="border-bottom border-1 mt-5">
            <h3>
                Links
            </h3>
        </div>
        {% block profile_links %}
            {% for link in user_profile.link_set.all %}
                <div class="my-3">
                    <span>{{ link.name }}: </span>
                    <a class="btn btn-success mx-2" href="{{ link.destination }}">{{ link.button_text }}</a>
                </div>
            {% endfor %}

        {% endblock %}
    </div>
{% endblock %}