{% extends "profile_template.html" %}

{% block profile_buttons %}
    <div class="btn-group">
        <a class="btn btn-outline-primary my-3" href="/profile/user/{{ user_profile.username }}">Profile</a>
        <a class="btn btn-outline-primary my-3" href="/profile/user/posts/{{ user_profile.username }}">Posts</a>
        <a class="btn btn-outline-primary my-3" href="/profile/user/followed-by/{{ user_profile.username }}">Followers: {{ user_profile.follow_destination.count }}</a>
        <a class="btn btn-outline-primary active my-3" href="/profile/user/following/{{ user_profile.username }}">Following: {{ user_profile.follow_source.count }}</a>
    </div>
{% endblock %}

{% block profile_info %}

    {% if user_profile.follow_source.exists %}
        {% for follow in user_profile.follow_source.all %}
            {% with profile=follow.destination %}
                {% include "profile_link_card.html" %}
            {% endwith %}
        {% endfor %}
    {% else %}
        <h3>User does not follow anybody</h3>
    {% endif %}
{% endblock %}

{% block profile_links %}

{% endblock %}